<!-- Side Header -->
  <md-toolbar class="md-theme-indigo">
    <header class="demo-drawer-header">
      <img src="images/user.jpg" class="demo-avatar">
      <!-- <div class="demo-avatar-dropdown"> -->
        <span>hello@example.com</span>
        <span flex></span>
        <!-- <md-button id="accbtn" class="md-icon-button md-primary" aria-label="accounts">
          <i class="material-icons" role="presentation">arrow_drop_down</i>
          <span class="visuallyhidden">Accounts</span>
        </button>
        <ul class="" for="accbtn">
          <li class="">hello@example.com</li>
          <li class="">info@example.com</li>
          <li class=""><i class="material-icons">add</i>Add another account...</li>
        </ul>
      </div> -->
    </header>
  </md-toolbar>
<!-- Left Nav Links  -->
  <md-content>
    <md-button ng-href="#!/main"><i class="material-icons" role="presentation">home</i>Home</md-button>
  </md-content>

  <md-content>
    <md-button ng-href="#!/orders"><i class="material-icons" role="presentation">inbox</i>Orders</md-buton>
  </md-content>
    <!-- <md-list-item>
      <md-menu class="md-secondary"> -->
  <md-content>
    <md-button ng-href="#!/inventory"><i class="material-icons" role="presentation">assignment</i>Inventory</md-button>
  </md-content>
        <!-- <i class="material-icons" role="presentation">arrow_drop_down</i> -->

          <!-- <md-menu-content width="4">
            <md-menu-item>
              <md-buton class="menu-item">Add Product</md-buton>
            </md-menu-item>
            <md-menu-item>
              <md-buton class="menu-item">Edit Product</md-buton>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-list-item> -->
    <!-- </div> -->
    <!-- <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">report</i>Spam</a>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>Forums</a>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>Updates</a>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>Promos</a>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Purchases</a>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Social</a>
    <div class="mdl-layout-spacer"></div>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>-->
    </md-content>
