<md-nav-bar
  layout="row"
  layout-align="center center"
  layout-margin
  flex class="layout-max-width"
  md-selected-nav-item="currentNavItem"
  nav-bar-aria-label="navigation links">
  <md-nav-item md-nav-href="#!/newProduct" name="newProduct">New Product</md-nav-item>
  <md-nav-item md-nav-href="#!/newLocation" name="newLocation">New Location</md-nav-item>
  <md-nav-item md-nav-href="#!/viewLocations" name="viewLocations">View Locations</md-nav-item>
  <md-nav-item md-nav-href="#!/editProduct" name="editProduct">Edit Product</md-nav-item>
  <md-nav-item md-nav-href="#" name="cycleCount">Cycle Count</md-nav-item>
</md-nav-bar>
