<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--middle">
    <!-- Colored raised button -->
    <a ng-href="#!/newProduct"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      New Product
    </button></a>
    <!-- Colored raised button -->
    <a ng-href="#!/editProduct"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      Edit Product
    </button></a>
    <!-- Colored raised button -->
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      Cycle Count
    </button>
    <!-- Colored raised button -->
    <a ng-href="#!/newLocation"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      New Location
    </button></a>
  </div>
</div>
